.container {
    max-width: 1200px;
}

h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
    line-height: 1.8;
}

.img-fluid {
    border-radius: 10px;
    margin-right: 40px; /* Add this line to reduce the space between the image and content */
}

/* If the content is adjacent to the image, add a specific class for the content */
.content {
    margin-left: 50px; /* Adjust this value to reduce or increase space between the image and content */
}
